app/cache/*
app/logs/*
app/bootstrap.php.cache
app/SymfonyRequirements.php
/.settings
/.buildpath
/.project
/.idea
atlassian-ide-plugin.xml
composer.phar
composer.lock
/vendor
/web/bundles
/web/css
/web/fonts
/web/js
/web/uploads/users/*
/web/media/cache
/web/build.js
/app/config/parameters.yml
/app/config/parameters_test.yml
