{% extends 'AcademicCoreBundle::layout.html.twig' %}
{% block title %} User List {% endblock %}
{% block body %}
    User List
    <a href="{{ path ('user_create') }}"> Create User </a>
    {% for user in users %}
        <div class="user-item">
            <a href="{{ path ('user_profile', { 'user' : user.id }) }}">{{ user.fullname }}</a>
        </div>
    {% endfor %}

{% endblock %}
